.cart-page-style {
    display: flex;
    /* border: 2px solid blue;
    border-radius: 10px; */
  }
  
  .user-style {
  
  width: 33%;
  height: 400px;
  margin: 5px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  }
  .bucket-style {
  width: 80%;
  height: 350px;
  margin: 5px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  }

  .user-form-style {
    height: auto;
  }
  
  .bucket-style-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  /* margin: 5px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px; */
  height: 330px;
  overflow-y: scroll;
  }
  
  .foods-block {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  height: 160px;
  
  }
  
  .bucket-img {
    width: 80px;
  }